/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include "charybdis.dtsi"

&default_transform {
	col-offset = <7>;
};
/*
&five_column_transform {
	col-offset = <5>;
};
 */
&kscan0 {
	col-gpios
		= <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // D9
            <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // D19
            <&gpio0 1  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // P0.01
};








